<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/blog/layout :: head">
<body>
<h3>View blog</h3>
<p>
    <a th:href="@{/blog}">
        Back to blog list
    </a>
</p>
<div id="detail">
    <div>
        <label>Name:</label>
        <label th:text="${blog.name}"></label>
    </div>
    <div >
        <label>content:</label>
        <label th:text="${blog.content}"></label>
    </div>
    <div >
        <label>note:</label>
        <label th:text="${blog.note}"></label>
    </div>
    <div >
        <label>category:</label>
        <label th:text="${blog.category.name}"></label>
    </div>
</div>
<footer th:replace="/blog/layout :: footer"></footer>
</body>
</html>

